.Form {
  width: 50%;
  height: 20em;
  margin-left: auto;
  margin-right: 2%;
}

.Input {
  background-color: white;
  margin: auto;
  padding: 0 1em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.InputElement {
  outline: none;
  border: none;
  border-bottom: 5px solid #f7f7f7;
  font: inherit;
  padding-top: 1.5em;
  display: block;
  width: 100%;
}

.InputElement:focus {
  border-bottom: 5px solid #3874cd;
}

.InputElement.Invalid {
  border-bottom: 5px solid #9a0505;
}

.InputElement.TextArea {
  padding: 1em 0;
  background-color: #f7f7f7;
}
